@using System;
@using MenuProject.MenuUI.Components
@using Sandbox.UI;
@using Sandbox;
@using Menu;
@inherits Panel;


<root class="clicky">

    <MediaCardWide Image="@Entry.Package.Thumb">
        <Content>
            <label class="title">
                @Entry.Package.Title
            </label>

            <div class="meta">
                <div>
                    <icon class="eyebrow">apps</icon>
                    <label class="eyebrow mine">@Entry.Unlocked</label>
                    <label class="eyebrow">of</label>
                    <label class="eyebrow total">@Entry.Total</label>
                </div>

                <div>
                    <icon class="eyebrow">emoji_events</icon>
                    <label class="eyebrow mine">@Entry.Score</label>
                    <label class="eyebrow">of</label>
                    <label class="eyebrow total">@Entry.TotalScore</label>
                </div>
            </div>
            <Progress Value=@Entry.Unlocked Max=@Entry.Total></Progress>

        </Content>
    </MediaCardWide>

</root>

@code {

    public Sandbox.Services.AchievementOverview Entry;

    protected override void OnMouseDown(MousePanelEvent e)
    {
        Entry.Package.OpenModal();
    }

}
